@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2:wght@400;500;600;700;800&family=Roboto:wght@100;300;400;700&display=swap");

:root {
  --bg-primary: rgb(107, 176, 215);
  --font1: "Baloo Bhaina 2", cursive;
  --font2: "Roboto", sans-serif;
}
.font1 {
  font-family: var(--font1);
}
.font2 {
  font-family: var(--font2);
}

.max-width-1 {
  max-width: 90vw;
}
.max-width-2 {
  max-width: 60vw;
}

.m-auto {
  margin: auto;
}

.btn {
  padding: 0px 20px;
  padding-top: 3px;
  border: 2px solid black;
  border-radius: 6px;
  font-family: var(--font1);
  cursor: pointer;
  color: black;
  font-weight: 600;
  transition: all 0.3s ease-in-out;
}

.form-input {
  padding-top: 3px;
  padding: 0px 5px;
  font-size: 16px;
  border: 2px solid black;
  border-radius: 4px;
  margin: 0 13px;
  font-family: var(--font1);
}
